body {
  background: rgb(242, 244, 246);
}

.main {
  text-align: left;
}

h1 {
  text-align: center;
  font-size: 5vw;
  font-family: sans-serif;
  background: linear-gradient(to right, rgba(255, 215, 255, 0) 0%, rgba(225, 255, 255, 0.5) 20%, rgba(255, 255, 255, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  background: linear-gradient(to left, rgba(170, 136, 170, 0) 20%, rgba(136, 184, 184, 0.5) 60%, rgba(199, 142, 142, 0) 90%);
  background-clip: border-box;
  color: rgb(127, 127, 255);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.refresh {
  margin: 1.5rem 0.5rem 0 0;
}

.fa-rotate,
.icon-return {
  color: red;
  font-size: 1.5rem;
}

.list {
  position: relative;
}

form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.addtask button {
  border: none;
  padding: 0;
  background: none;
  padding-right: 2rem;
}

input[type=text] {
  padding: 8px 5px;
  border: none;
  line-height: 20px;
  height: 20px;
  width: 90%;
  background: inherit;
}

input[type=text]:focus {
  outline: none;
}

.cleardone {
  width: 100%;
  height: 4vw;
  border: none;
  background: rgb(213, 212, 212);
  margin: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#item-list li {
  list-style: none;
  margin: 0.5rem  0  0 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
}

#item-list label {
  font-size: 1rem;
  font-weight: 300;
  padding: 0 0.5rem;
  flex-grow: 1;
  position: relative;
}


label .dot-icon::after {
  content: "\2807";
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  margin-right: 1.4rem;
  cursor: pointer;
}

.fa-editb,
.del {
  border: none;
  background: inherit;
}

.del {
  margin-right: 1rem;
}